// General
html,
body {
    height: 100%;
    font-family: 'Open Sans';
}

.heading {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sub-heading {
    font-size: 0.5rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.centered-text {
  text-align: center;
}

.aligned-text {
    display: inline-block;
    text-align: left;
    font-size: 0.5rem;
    width: 20rem;
    line-height: 0.9rem;
}

.list {
    list-style-type: disc;
    font-size: 0.5rem;
    margin-left: 1rem;
    line-height: 0.9rem;
}

.website-link {
    text-decoration: none;
    color: black;

    &:hover {
        color: grey;
    }
}

// Responsiveness
@media screen and (min-width: 25em) {
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}


// Menu
.menu__wrapper {
    background-color: $color-white;
    border-left: 0.17rem solid $color-san-marino;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: 0.3s;
}

.menu__hidden {
    display: none;
}

.as3--menu {
    font-size: 1rem;
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
}

#toggle-menu:checked {
    & + .menu__wrapper {
        right: 0%;
        width: 8rem;
    }

    & ~ label[for="toggle-menu"]:before {
        content: "\e901";
    }
}

.menu__list {
    margin-top: 2rem;
}

.menu__link {
    font-size: 0.5rem;
    display: block;
    padding: 0.2rem 0.5rem;
    margin-top: 1rem;
}