doctype html
html
    head
        title Wildcard(*) - RMIT
        link(
            rel="stylesheet",
            href="/style.css"
        )
        //- href="https://rmitwildcard.github.io/assignment-3/style.css"
    body
        include ../menu/menu
        include ../banner/banner
        block content